{% extends 'sub-base.html.twig' %}

{% block title %}
    Services

{% endblock %}


{% block body %}
<section class="service_section layout_padding">
    <div class="container ">
      <div class="heading_container heading_center">
        <h2>Nos <span>Services</span></h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="box ">
            <div class="img-box">
              <img src="{{ asset('frontOffice/images/s1.png') }}" alt="" />
            </div>
            <div class="detail-box">
              <h5>
                Échange de produits              </h5>
              <p>
                Permet aux utilisateurs de proposer et d’échanger des objets entre eux de manière simple et sécurisée.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box ">
            <div class="img-box">
              <img src="{{ asset('frontOffice/images/s2.png') }}" alt="" />
            </div>
            <div class="detail-box">
              <h5>
                Recyclage et valorisation 
              </h5>
              <p>
                when looking at its layout. The point of using Lorem Ipsum is
                that it has a more-or-less normal
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box ">
            <div class="img-box">
              <img src="{{ asset('frontOffice/images/s3.png') }}" alt="" />
            </div>
            <div class="detail-box">
              <h5>
                Blog & Astuces
              </h5>
              <p>
                when looking at its layout. The point of using Lorem Ipsum is
                that it has a more-or-less normal
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box ">
            <div class="img-box">
              <img src="{{ asset('frontOffice/images/s4.png') }}" alt="" />
            </div>
            <div class="detail-box">
              <h5>
                Réclamations et assistance 
              </h5>
              <p>
                when looking at its layout. The point of using Lorem Ipsum is
                that it has a more-or-less normal
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box ">
            <div class="img-box">
              <img src="{{ asset('frontOffice/images/s5.png') }}" alt="" />
            </div>
            <div class="detail-box">
              <h5>
                Communauté et forums               </h5>
              <p>
                when looking at its layout. The point of using Lorem Ipsum is
                that it has a more-or-less normal
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box ">
            <div class="img-box">
              <img src="{{ asset('frontOffice/images/s6.png') }}" alt="" />
            </div>
            <div class="detail-box">
              <h5>
                Système de points et récompenses               </h5>
              <p>
                when looking at its layout. The point of using Lorem Ipsum is
                that it has a more-or-less normal
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div>
    </div>
  </section>
{% endblock %}

